image: maven:3.9.6-eclipse-temurin-17
stages:
  - build
  - release

build-job:
  stage: build
  script:
    - mvn -B test
  except:
    - /^release[/].*/

release-job:
  stage: release
  script:
    - mvn versions:set -DgenerateBackupPoms=false -DnewVersion=$(echo $CI_COMMIT_BRANCH | sed -e s/^release[/]//)
    - gpg --passphrase $GPG_PASSPHRASE --import $GPG_PRIVEKEY
    - mvn -s $MAVEN_SETTINGS -B deploy -Dgpg.passphrase=$GPG_PASSPHRASE
  only:
    - /^release[/].*/
